<!DOCTYPE html>
<html>

<head>
    <title>Career</title>
    <link href ='review.css' rel='stylesheet' type='text/css' />

</head>

<body>
    <div id='top_padding'>
        <div id='logo'></div>
    </div>
    <img id="background" src="./img/career.png">
    <div id= 'review_display'>
        <div id="review_header">
            <h1 id="careerfont">Sign up here to start delivering food whenever wherever!</h1>
        </div>
        <div id="review_info">
            <div id='enterName'>
                <br>
                <b id="space">Full name:</b>
                <input type = 'text' />
                <br/><br/>
                <b id="space">Phone num:</b>
                <input type = 'text' />
                <br/><br/>
                <b id="space">E-Mail:</b>
                <input type = 'text' />
            </div>
            <br>
            <div>
                <br>
                    <b>Please talk about yourself.</b>
                <br><br>
                <textarea id="feedback1" rows='6' cols='97' placeholder='Enter information here...' name="feedback"></textarea>
                <br><br>
                <b>Insert resume here.</b>
                <br><br>
                <textarea rows='6' cols='97' placeholder='Paste resume here...'></textarea>
            </div>
            <br>
            <button id='careerSub' style="position:relative;width:auto;height:30px;border:none;background:rgb(165,0,0);color:white;font-weight: bold;cursor:pointer;font-size:18px;border-radius: 25px;">Get Started</button>
        </div>
    </div>
    <script>
        document.getElementById("logo").addEventListener("click",()=>{
            window.location = "/";
        });
        document.getElementById("careerSub").addEventListener("click",()=>{
            swal('Thank you!', {icon: "success"}).then ((value) => {
                if (value == true) {
                    window.location = '/';
                };
            });
        });

    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>