<!DOCTYPE html>
<html>

<head>
    <title>Comment</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='comment.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id='top_padding'>
        <div id='logo'></div>
    </div>
    <img id="background" src="./img/background.jpg">
    <div id ='revPageHeader'>
        <h1>Comments</h1>
    </div>
    <div id ='cmtDisplay'>
    </div>
    <input id='review_data' type="text" value="{{{reviews}}}">
    <script src='comment.js'></script>
</body>
</html>