<!DOCTYPE html>
<html>

<head>
    <title>Comment</title>
    <link href='comment.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id='top_padding'>
        <div id='logo'></div>
    </div>
    <img id="background" src="./img/background.jpg">
    <div id='revPage'>
        <div id ='revPageHeader'>
            <h1>Comments</h1>
        </div>
        <div id ='cmtDisplay'>
        </div>
    </div>
    <script src='comment.js'></script>
    <script type='text/javascript'>
        var reviews = `{{{review}}}`
        console.log(reviews.split(','))
    </script>
</body>

</html>