<!DOCTYPE html>
<html>

<head>
    <title>Comment</title>
    <link href='comment.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id='top_padding'>
        <div id='logo'></div>
    </div>
    <img id="background" src="./img/background.jpg">
    <div id='revPage'>
        <div id ='revPageHeader'>
            <h1>Comments</h1>
        </div>
        <div id ='cmtDisplay'>
<<<<<<< HEAD
=======
            <table style="position:absolute;top:20px;width:70%; left:0px;right:0px;margin:auto;">
              <tr>
                <th>Feedback</th>
                <th>rate</th> 
                <th>date</th>
                <th>name</th>
              </tr>
              <tr>
                <td>I really like this application!</td>
                <td>Good</td> 
                <td>May 1st, 2018</td>
                <td>Jay</td>
              </tr>
            </table>
>>>>>>> b810823c075f7611590b441db1989c13e2bae6ad
            <br>
        </div>
    </div>
    <script src='comment.js'></script>
    <script type='text/javascript'>
        var reviews = `{{{review}}}`,
            review = reviews.split(',')

<<<<<<< HEAD
        var div = document.createElement("div");
        div.style.position = "absolute";
        div.style.width = "500px";
        div.style.left = "50px";
        div.style.height = "20px";
        div.style.border = "black solid 2px";
        div.innerHTML = review[3] + '\t' + review[0];

        document.getElementById("cmtDisplay").appendChild(div);
=======
        // var div = document.createElement("div");
        // div.style.position = "absolute";
        // div.style.width = "500px";
        // div.style.left = "50px";
        // div.style.height = "20px";
        // div.style.border = "black solid 2px";
        // div.innerHTML = review[3] + '\t' + review[0];

        // document.getElementById("cmtDisplay").appendChild(div);
>>>>>>> b810823c075f7611590b441db1989c13e2bae6ad
    </script>
</body>

</html>