<!DOCTYPE html>
<html>

<head>
    <title>Comment</title>
    <link href='comment.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id='top_padding'>
        <div id='logo'></div>
    </div>
    <img id="background" src="./img/background.jpg">
    <div id='revPage'>
        <div id ='revPageHeader'>
            <h1>Comments</h1>
        </div>
        <div id ='cmtDisplay'>
            <table style="position:absolute;top:20px;width:70%; left:0px;right:0px;margin:auto;">
              <tr>
                <th>Feedback</th>
                <th>rate</th> 
                <th>date</th>
                <th>name</th>
              </tr>
              <tr>
                <td>I really like this application!</td>
                <td>Good</td> 
                <td>May 1st, 2018</td>
                <td>Jay</td>
              </tr>
            </table>
            <br>
        </div>
    </div>
    <div style="display:none;" id="review_data">{{{review}}}</div>
    <script src='comment.js'></script>
</body>

</html>