<!DOCTYPE html>
<html>
<head>
    <title>Review</title>
    <link href ='greet.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id='top_padding'>
        <div id='logo'></div>
    </div>
    <img id="background" src="./img/background.jpg">
    <div id= 'greet_display'>
        <div id="greet_header">
            <h1>Please let us know what you think about our service!</h1>
        </div>
        <div id = 'greetInfo'>
            <br>
            <b>Thank you for your feedback. We really appreciate the time you took to help us improve our service.
            Also, see what others have to say about us <u id='toRevPage'>here</u>!</b>
        </div>
    </div>
    <script src='greet.js'></script>
</body>
	
</html>