<!DOCTYPE html>
<html>

<head>
    <title>Delivery</title>
    <link href="location.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
</head>

<body>
    <!--input type="text" id="lat" name="lat" value="{{{latitu}}}">
    <input type="text" id="long" name="long" value="{{{longitu}}}"-->
    <div id="top_padding"></div>
    <img id="background" src="./img/background.jpg">
    <div id='logo'></div>
    <div id="radiusoption">
        <h>500m</h><input id="1checkBox" type="checkbox" class="radcheck" onclick="checkRadius(this.id)">
        <h>1.5km</h><input id="2checkBox" type="checkbox" class="radcheck" onclick="checkRadius(this.id)">
        <h>3.0km</h><input id="3checkBox" type="checkbox" class="radcheck" onclick="checkRadius(this.id)">
    </div>
    <input id="test">
    <div id="map"></div>
    <div id="explanation">
        <button id="submit" style='display: none;'>Confirm</button>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEoiFzG0XaPOHqYqQ6AGAcNBosbJQ7RUw&libraries=places&callback=initMap" async defer>
    </script>
    <script>
    var map;
    var infowindow,
        website_link;
    var service;

    var latitu = {{{latitu}}},
        longitu = {{{longitu}}};
    
    var place_address = '',
        place_name = '',
        place_rating = '',
        place_type = '',
        open_now = '',
        phone_num='',
        url_site='',
        isDivExist = 0;

    var pyrmont = { lat: latitu, lng: longitu };
    var requestt = {
            location: pyrmont,
            radius: 200,
            type: ['restaurant']
        };

    var getAddress = (address, callback)=>{
        request({
            url:'https://maps.googleapis.com/maps/api/geocode/json'+'?address='+encodeURIComponent(address),
            json: true
        }, (error, response, body) => {
            if (error) {
                console.log('Can not connect to google maps');
            } else if (body.status === 'ZERO_RESULTS') {
                console.log('Can not find requested address');
            } else if (body.status === 'OK') {
                console.log(`Your requested venue: ${address}`);
                console.log(`Address: ${body.results[0].formatted_address}`);
                console.log(`Type: ${body.results[0].types[0]}`);
            }
        });
    };

    function checkRadius(id){
        var pfive_checkbox = document.getElementById('1checkBox').checked;
        var one_checkbox = document.getElementById('2checkBox').checked;
        var onefive_checkbox = document.getElementById('3checkBox').checked;
        for (var i = 1;i <= 3; i++) {
            document.getElementById(i+"checkBox").checked = false;
        }
        document.getElementById(id).checked = true;

        if (pfive_checkbox == true){
            requestt = {
                location: pyrmont,
                radius: 100,
                type: ['restaurant']
            };
            window.onload = initMap();
        } else if (one_checkbox == true){
            requestt = {
                location: pyrmont,
                radius: 300,
                type: ['restaurant']
            };
            window.onload = initMap();
        } else if (onefive_checkbox == true){
            requestt = {
                location: pyrmont,
                radius: 500,
                type: ['restaurant']
            };
            window.onload = initMap();
        }
        window.onload = initMap();
    };
    
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: pyrmont,
            zoom: 15
        });
        infowindow = new google.maps.InfoWindow();
        service = new google.maps.places.PlacesService(map);
        service.nearbySearch(requestt, callback);
    }

    function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
                createMarker(results[i]);
            }
        }
    }

    function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
            place_address = place.vicinity,
            place_name = place.name,
            place_rating = place.rating,
            place_type = String(place.types).split(",")[0],
            open_now = place.opening_hours.open_now;
            var request = {
                reference: place.reference
            };
            service.getDetails(request, function(details, status) {
                phone_num=details.formatted_phone_number,
                url_site=details.website;
            });

            infowindow.setContent(place.name + "<br><br>" + `<button id=markerButton onclick="myFunction()">SELECT</button>`);
            infowindow.open(map, this);
            (place.name)
        });
    }
    function isItOpen(par){
        if (par) {
            return 'open';
        }else{
            return 'closed';
        }
    }
    function myFunction() {
        if (isDivExist != 0){
                document.getElementById('order_div').innerHTML = place_name;   
                document.getElementById('rating_div').innerHTML = "Rating: "+place_rating;
                ratecolor = ratingcolor(place_rating);
                document.getElementById('rating_div').style.color = ratecolor;
                document.getElementById('add_div').innerHTML = "Address: "+place_address;
                document.getElementById('type_div').innerHTML = "Type: "+place_type;    
                document.getElementById('open_div').innerHTML = "Open/Closed: "+isItOpen(open_now),
                document.getElementById('phone_div').innerHTML = "Number: "+phone_num;;
                document.getElementById('site_div').innerHTML = "Website: "+url_site;

        }else{
            var nameDiv = document.createElement("div"),
                ratingDiv = document.createElement("div"),
                addDiv = document.createElement("div"),
                typeDiv= document.createElement("div"),
                openDiv= document.createElement("div");
                phonediv= document.createElement("div");
                sitediv= document.createElement("div");

            nameDiv.id = 'order_div';
            ratingDiv.id = "rating_div";
            addDiv.id = "add_div";
            typeDiv.id = "type_div";
            openDiv.id = "open_div";
            phonediv.id = "phone_div";
            sitediv.id = "site_div";

            nameDiv.innerHTML = place_name;          
            ratingDiv.innerHTML = "Rating: "+place_rating;       
            addDiv.innerHTML = "Address: "+place_address;      
            typeDiv.innerHTML = "Type: "+place_type;          
            openDiv.innerHTML = "Open/Closed: "+isItOpen(open_now);        
            phonediv.innerHTML = "Number: "+phone_num;
            sitediv.innerHTML = "Website: "+url_site;

            ratingDiv.style.font = "20px sans-serif";
            addDiv.style.font = "20px sans-serif";
            typeDiv.style.font = "20px sans-serif";
            openDiv.style.font = "20px sans-serif";
            phonediv.style.font = "20px sans-serif";
            sitediv.style.font = "20px sans-serif";

            document.getElementById('explanation').appendChild(nameDiv);
            document.getElementById('explanation').appendChild(ratingDiv);
            document.getElementById('explanation').appendChild(addDiv);
            document.getElementById('explanation').appendChild(typeDiv);
            document.getElementById('explanation').appendChild(openDiv);
            document.getElementById('explanation').appendChild(phonediv);
            document.getElementById('explanation').appendChild(sitediv);
            document.getElementById('submit').style.display = 'block';
            isDivExist = 1;
            ratecolor = ratingcolor(place_rating);
            ratingDiv.style.color = ratecolor;
        }
    }

    function ratingcolor(rating) {
        mycolor = "red";
        if (rating >= 2.5) {
            mycolor = "#ffcc00";
        }
        if (rating >= 4) {
            mycolor = "Lime";
        }
        return mycolor;
    }

    function addtodiv(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
        });

        var newDiv = document.createElement("div");
        var newContent = document.createTextNode(place.name);
        newDiv.appendChild(newContent);
        document.getElementById('explanation').appendChild(newDiv);
    }

    function location_confirmation(){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "/location_confirmation", true);
        xmlhttp.setRequestHeader('Content-type', "application/x-www-form-urlencoded");
        xmlhttp.onreadystatechange = () => {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
                window.location="/weather";
            }
        }
        xmlhttp.send(`address=${place_address}`);
    }

    //-------------------------------------interactions---------------------------------
    document.getElementById('submit').addEventListener('click',()=>{
        location_confirmation();
    });

    //logo links back to home
    document.getElementById("logo").addEventListener("click",()=>{
        window.location = "/";
    });

    window.onload = initMap();

    </script>
</body>
</html>