<!DOCTYPE html>
<html>

<head>
    <title>Delivery</title>
    <link href="location.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
</head>

<body>
    <input type="text" id="lat" name="lat" value="{{{latitu}}}">
    <input type="text" id="long" name="long" value="{{{longitu}}}">
    <div id="top_padding"></div>
    <img id="background" src="./img/background.jpg">
    <div id='logo'></div>
    <div id="radiusoption">
        <h>500m</h><input id="checkBox" type="checkbox">
        <h>1km</h><input id="checkBox" type="checkbox">
        <h>1.5km</h><input id="checkBox" type="checkbox">
    </div>
    <div id="map"></div>
    <div id="explanation">
        
        <button id="submit" style='display: none;'>Confirm</button>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEoiFzG0XaPOHqYqQ6AGAcNBosbJQ7RUw&libraries=places&callback=initMap" async defer>
    </script>
    <script src='location.js'></script>
</body>
</html>