<!DOCTYPE html>
<html>

<head>
    <title>Review</title>
    <link href ='review.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id='top_padding'>
        <div id='logo'></div>
    </div>
    <img id="background" src="./img/background.jpg">
    <div id= 'review_display'>
        <div id="review_header">
            <h1>Please let us know what you think about our service!</h1>
        </div>
        <div id="review_info">
            <form action="/review" method="post">
                <div id='enterName'>
                    <br>
                    <b>Please enter your name:</b>
                    <input type = 'text' />
                </div>
                <br>
                <div id = "rateUs">
                    <br>
                    <div id ='rateP'>
                        <b>On a scale of 1 to 5, what would you rate us?</b>
                    </div>
                    <div class = 'radBut'>&nbsp;
                        <input id='scale1' type ='radio' name ='scale'/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id='scale2' type ='radio' name ='scale'/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id='scale3' type ='radio' name ='scale'/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id='scale4' type ='radio' name ='scale'/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id='scale5' type ='radio' name ='scale'/>
                        <br>
                        Awful &nbsp;&nbsp;&nbsp;&nbsp;
                        Bad &nbsp;&nbsp;&nbsp;&nbsp;
                        Okay &nbsp;&nbsp;&nbsp;&nbsp;
                        Good &nbsp;&nbsp;&nbsp;&nbsp; 
                        Excellent
                    </div>
                </div>
                <div>
                    <br>
                        <b>What do you think about our service?</b>
                    <br><br>
                    <textarea id="feedback1" rows='6' cols='97' placeholder='Leave your feedback here...' name="feedback"></textarea>
                    <br><br>
                    <b>How would you suggest us improve it?</b>
                    <br><br>
                    <textarea rows='6' cols='97' placeholder='Leave your feedback here...'></textarea>
                </div>
                <br>
                <button id='reviewSub'>Submit</button>
            </form>
            <form action="/comment" method='post'>
                <button id='toRevBut' class='toRevPage'>See others' comments</button>
            </form>
        </div>
    </div>
    <script src='review.js'></script>
    <script type="text/javascript">
        if(!(`{{{comment}}}` == '')){
            alert(`{{{comment}}}`);
        }
    </script>
</body>

</html>