<!DOCTYPE html>
<html>

<head>
    <title>Review</title>
    <link href ='../public/review.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id='top_padding'>
        <div id='logo'></div>
    </div>
    <img id="background" src="../public/img/background.jpg">
    <div id= 'review_display'>
        <div id="review_header">
            <h1>Please let us know what you think about our service!</h1>
        </div>
        <div id='endScreen' style='display:none;'>
            <br>
            <b>Thank you for your feedback. We really appreciate the time you took to help us improve our service.</b>
            <br><br>
            <b>Also, see what others have to say about us <u id='toRevPage' class='toRevPage'>here</u>!</b>
        </div>
        <div id="review_info">
            <div id = "rateUs">
                <br>
                <div id ='rateP'>
                    <b>On a scale of 1 to 5, what would you rate us?</b>
                </div>
                <div class = 'radBut'>
                    <input type ='radio' name ='scale'/>
                    <br>
                    Awful
                </div>
                <div class = 'radBut'>
                    <input type ='radio' name ='scale'/>
                    <br>
                    Bad
                </div>
                <div class = 'radBut'>
                    <input type ='radio' name ='scale'/>
                    <br>
                    Okay
                </div>
                <div class = 'radBut'>
                    <input type ='radio' name ='scale'/>
                    <br>
                    Good
                </div>
                <div class = 'radBut'>
                    <input type ='radio' name ='scale'/>
                    <br>
                    Excellent
                </div>
            </div>
            <div>
                <br>
                <div>
                    <b>What do you think about our service?</b>
                </div>
                <br>
                <textarea rows='6' cols='97' placeholder='Leave your feedback here...'></textarea>
            </div>
            <div>
                <br>
                <div>
                <b>How would you suggest us improve it?</b>
                </div>
                <br>
                <textarea rows='6' cols='97' placeholder='Leave your feedback here...'></textarea>
            </div>
                <br>
                <button id='reviewSub'>Submit</button>
                <button id='toRevBut' class='toRevPage'>See others' comments</button>
        </div>
    </div>
    <script src='../public/review.js'></script>
</body>

</html>