#review_display{
	position: absolute;
	top:70px;
	left:0px;
	width:100%;
    height:50%;
}

#review_header{
    position:absolute;
    left:0px;
    right:0px;
    margin:auto;
    width:600px;
    height:auto;
    text-align:center;
}

#review_info{
    position: absolute;
    left:0px;
    right:0px;
    top:150px;
    margin:auto;
    width:700px;
    height:auto;
    border-top: rgb(165,0,0) 2px solid;
    font-family: Sans-serif;
}

#rateP{
    position:relative;
    top:-20px;
    display:inline-block;
    margin-right:10px;
}

.radBut{
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
}

#reviewSub{
    position:relative;
    left:90%;
    height:30px;
    width:auto;
    border:none;
    background:rgb(165,0,0);
    color:white;
    font-weight: bold;
    cursor:pointer;
    font-size:18px;
    border-radius: 25px;
}

#toRevBut{
    position:relative;
    height:30px;
    top:-30px;
    width:auto;
    border:none;
    background:rgb(165,0,0);
    color:white;
    font-weight: bold;
    cursor:pointer;
    font-size:18px;
    border-radius: 25px;
}

#background{
    position: fixed;
    width:100%;
    height:100%;
    left:0%;
    background-size:cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.2;
    filter: alpha(opacity=50);
}

#logo{
    position: absolute;
    top:5px;
    left:45%;
    width:90px;
    height:70px;
    background:url(./img/logo.jpg) no-repeat;
    background-size: contain;
    cursor:pointer;
}

#top_padding{
	position: fixed;
	z-index: 1;
	top:0px;
	left:0px;
	width:100%;
	height:70px;
    background-color:rgb(0,0,0);
}
/** media queries for screen for review */
@media (max-width: 768px) { 
    #rateUs{
        width: 400px;
        display: inline-block;
        
    }
    #review_header{
        position: relative;
        top: 20px;
        font-family: sans-serif;
        text-align: left;
        font-size: 1em;
        display: inline;
        color: rgb(0,0,0,165);
    }
    #feedback1{
        width: 300px;
        overflow: hidden;
    }
    #feedback2{
        width: 300px;
        overflow: hidden;
    }
    #reviewSub{
        position: relative;
        left: 350px;
    }
}
#toRevBut:hover{
    background-color: green;
}
#reviewSub:hover{
    background-color: green;
}
